//
//  Debug.xcconfig
//  MySecondSubmission
//
//  Created by Andika Andriana on 07/09/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Debug.xcconfig
RAWG_API_KEY=58c163fd4c884654bde4a4de4ff34bf4
RAWG_BASE_URL=api.rawg.io/api

